.main {
    background-image: linear-gradient(to top, #233e36 0%, #2a5f55 30%, #608c82 46%, #b2e3e0 59%, #608c82 71%, #2a5f55 86%, #395d51 100%);
}

.btn-green {
    background-color: #2c584a;
    color: white;
}