<user-navbar></user-navbar>
<body class="pb-3 h-100">
  <section class="vh-100">
    <div class="container pt-5">
      <h2 class="mb-4" style="color: white; font-size: 50px;">Our Team <button mat-raised-button
          *ngIf="employeesService.role === 'Admin'" (click)="employeesService.createEmployee()" style="margin-left:65%; font-size: 20px">Add an
          employee</button></h2>
      <mat-expansion-panel style="border-collapse: collapse; border-radius: 1em; overflow: hidden;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Search panel
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="employeesService.searchForm">
          <div class="row">
            <div class="col-md-6 mb-4" style="width: 30%;">
              <div class="form-outline">
                <label class="form-label" for="form3Example1m">First name</label>
                <input formControlName="firstname" type="text" id="form3Example1m"
                  class="form-control form-control-lg" />
              </div>
            </div>
            <div class="col-md-6 mb-4" style="width: 30%;">
              <div class="form-outline">
                <label class="form-label" for="form3Example1n">Last name</label>
                <input formControlName="lastname" type="text" id="form3Example1n"
                  class="form-control form-control-lg" />
              </div>
            </div>

            <div class="col-md-6 mb-4" style="width: 30%;">
              <div class="form-outline">
                <label class="form-label" for="form3Example1n">Email</label>
                <input formControlName="email" type="email" id="form3Example1n" class="form-control form-control-lg" />
              </div>
            </div>
          </div>
          <div>

          </div>
          <button (click)="employeesService.onSearch(paginator)" mat-raised-button class="mt-4"
            style="background-color: #2c584a; color: white; width: 28%;">Search</button>
          <button (click)="employeesService.clear(paginator)" mat-raised-button class="mt-4 ms-4"
            style="background-color: white; color: #2c584a; width: 28%;">Clear</button>
        </form>
      </mat-expansion-panel>

      <table class="table table-hover align-middle mb-0 mt-3"
        style="border-collapse: collapse; border-start-start-radius: 1em; border-start-end-radius: 1em; overflow: hidden;">
        <thead class="bg-light">
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th *ngIf="employeesService.role === 'Admin' || employeesService.role === 'DepartmentManager'">Status</th>
            <th>Branch office</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of employeesService.users; let i = index">
            <td>
              <div class="d-flex align-items-center">
                <img src="{{user.url}}" alt="" style="width: 45px; height: 45px" class="rounded-circle" />
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{user.firstName}} {{user.lastName}}</p>
                  <p class="text-muted mb-0">{{user.email}}</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">{{user.position}}</p>
              <p class="text-muted mb-0">{{user.department}}</p>
            </td>
            <td *ngIf="((employeesService.role === 'Admin' && user.role != 'Admin') || (employeesService.role === 'DepartmentManager' && user.role != 'Admin')) && user.id != employeesService.id">
              <div *ngIf="employeesService.role === 'Admin' || (user.department === employeesService.department && employeesService.role === 'DepartmentManager')" [matBadge]="user.unConfirmedDaysCount" style="width: 40%;" matBadgePosition="above"
                matBadgeColor="accent" class="demo-section"><a mat-button [routerLink]="['userDetail', user.id]">Require
                  confirmation</a></div>
            </td>
            <td>{{user.branchOffice}}</td>
            <td>
              <button type="button" mat-stroked-button color="accent" style="border-color: #0b4c3f;">
                <a [routerLink]="['userInfo', user.id]" style="text-decoration: none;  color: #0b4c3f;">Details</a>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <mat-paginator #paginator [length]="employeesService.totalData" [pageSizeOptions]="[5, 7, 10]" showFirstLastButtons
        style="border-collapse: collapse; border-end-start-radius: 1em; border-end-end-radius: 1em; overflow: hidden;"></mat-paginator>
    </div>
  </section>
</body>