body {
    background-image: linear-gradient(to top, #345b4f 0%, #2b6a5d 30%, #608c82 46%, #b2e3e0 59%, #608c82 71%, #2b6a5d 86%, #395d51 100%);
}

.btn-green {
    background-color: #2c584a;
    color: white;
}