<user-navbar></user-navbar>
<section class="vh-100 pt-4 px-5" style="background: linear-gradient(to bottom, #426b5e 30%, #b2e3e0 90%) no-repeat;">
    <h2 class="my-5" style="color: white; font-size: 50px; text-align: center;">Store your documents here</h2>
    <table class="table table-hover align-middle mb-0 mt-3" style="border-collapse: collapse; border-start-start-radius: 1em; border-start-end-radius: 1em; overflow: hidden;">
        <thead>
            <tr>
                <th>Title</th>
                <th>Upload data</th>
                <th>Size</th>
                <th>Content type</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let document of documents">
                <th>{{document.name}}</th>
                <th>{{document.uploadData}}</th>
                <th>{{document.size}}</th>
                <th>{{document.contentType}}</th>
                <th><button mat-raised-button style="background-color: #2c584a; color: white;" (click)="downloadDocument(document.name)">Download</button></th>
            </tr>
        </tbody>
    </table>

    <!-- <div class=" py-3">
        <div class="col-md-9 pe-5">
          <input class="form-control form-control-lg" id="formFig" type="file" (change)="onDocumentSelected($event)" style="width: 17%; color: white; margin-left: 61%;" />
        </div>
      </div> -->


    <div class="d-flex justify-content-evenly">
        <form [formGroup]="uploadForm" class="row row-cols-lg-auto g-3 align-items-center mt-4" style="margin-right: 0;">
            <div class="col-12">
                <div class="input-group">
                    <input formControlName="uploadFile" class="form-control form-control-lg" id="formFig" type="file" (change)="onDocumentSelected($event)" style="width: 17%;" />
                </div>
            </div>
        
            <div class="col-12 d-flex align-items-center" style="height: 100%;">
                <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                <select formControlName="type" class="select"  style="height: 65%;">
                    <option value="1">Time tracking</option>
                    <option value="2">Other</option>
                </select>
            </div>
        
            <div class="col-12 d-flex align-items-center"  style="height: 100%;">
                <button type="submit" mat-raised-button style="background-color: #2c584a; height: 65%; color: white;" (click)="onSubmitForm()">Submit</button>
            </div>
        </form>
    </div>
    
</section>


