<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <div class="dropdown me-5">
        <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar"
          role="button" data-mdb-toggle="dropdown" aria-expanded="false" style="text-decoration: none; color: aliceblue;">
          <img src="{{url}}" class="rounded-circle" height="25" alt="Portrait of a Man"
            loading="lazy" />&nbsp;&nbsp;{{email}}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuAvatar">
          <li>
            <a class="dropdown-item" href="profile/{{id}}">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="edit/{{id}}">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="logOut()" routerLink="login">Logout</a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="employees">Team</a>
        </li>
      </ul>
    </div>
    <div class="d-flex align-items-center">
    </div>
  </div>
</nav>