<section class="vh-100" style="background: linear-gradient(to top, #1a7873 30%, #b2e3e0 90%) no-repeat;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="https://images.unsplash.com/photo-1664058249156-b9908750f917?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjZ8fGRvZyUyMGNvbXB1dGVyfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-end">
              <div class="card-body p-4 p-lg-5 text-black">

                <form [formGroup]="loginForm">

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h2 fw-bold mb-3 pb-3" style="letter-spacing: 1px; font-size: 50px;">Sign in</span>
                  </div>



                  <div class="form-outline mb-4"
                    [class.error]="loginForm.controls['email'].dirty && (loginForm.hasError('email', 'email') || (loginForm.hasError('required', 'email')))">
                    <label class="form-label" for="form2Example17">Email address</label>
                    <input formControlName="email" type="email" id="form2Example17"
                      class="form-control form-control-lg" />
                    <small *ngIf="loginForm.controls['email'].dirty && (loginForm.hasError('email', 'email') || (loginForm.hasError('required', 'email')))"
                      class="text-danger">*Email isn't valid</small>
                  </div>

                  <div class="form-outline mb-4"
                    [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">
                    <label class="form-label" for="form2Example27">
                      Password <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                    </label>
                    <input formControlName="password" [type]="type" id="form2Example27"
                      class="form-control form-control-lg">
                    <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')"
                      class="text-danger">*Password is required</small>
                  </div>

                  <div class=" mb-4 mt-5 text-center">
                    <button (click)="onLogin()" type="submit" mat-raised-button
                      style="background-color: #0a1e1a; color: white; width: 100%; letter-spacing: 3px; font-size: 20px;" type="button">Login</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>