<user-navbar></user-navbar>
<section class="h-100 pb-5" style="background: linear-gradient(to bottom, #426b5e 30%, #b2e3e0 90%) no-repeat;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-8">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="d-flex text-black">
              <div class="flex-shrink-0">
                <img src="{{userDetailService.url}}" alt="Generic placeholder image" class="img-fluid"
                  style="width: 180px; border-radius: 10px;" />
              </div>
              <div class="flex-grow-1 ms-3 pt-4">
                <h3 style="font-size: 20px;" class="mt-4 mb-1">{{userDetailService.userDetails.firstName}} {{userDetailService.userDetails.lastName}}</h3>
                <p class="mb-3 pb-1" style="color: #2b2a2a;">
                  {{userDetailService.userDetails.email}}
                </p>
                <div class="d-flex justify-content-evenly rounded-3 p-2 mb-2 mt-5" style="background-color: #efefef;">
                  <div>
                    <p class="small text-muted mb-1">
                      Working days
                    </p>
                    <p class="mb-0">{{userDetailService.userDetails.workDays}}</p>
                  </div>
                  <div class="px-3">
                    <p class="small text-muted mb-1">
                      Sick days
                    </p>
                    <p class="mb-0">{{userDetailService.userDetails.sickDays}}</p>
                  </div>
                  <div>
                    <p class="small text-muted mb-1">
                      Paid days
                    </p>
                    <p class="mb-0">{{userDetailService.userDetails.paidDays}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <table class="table mb-0"
      style="border-collapse: collapse; border-start-start-radius: 1em; border-start-end-radius: 1em; overflow: hidden;">
      <thead>
        <tr style="text-align: center;">
          <th scope="col">Date</th>
          <th scope="col">Hours</th>
          <th scope="col">Accounting type</th>
          <th scope="col">Status</th>
          <th>Dowmload Document</th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of userDetailService.rows1;" style="text-align: center;">
          <td>{{row.date}}</td>
          <th scope="row">{{row.hours}}</th>
          <td>{{row.type}}</td>
          <td>
            <div class="rounded-pill me-5 text-center h-50" style="color: white" [style.background-color]="row.color">
              {{row.status}}
            </div>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Select document</mat-label>
              <mat-select [disabled]="row.status==='No info'">
                <mat-option  *ngFor="let doc of row.docs" [value]="doc.sourceId">
                  {{doc.name}} &nbsp;&nbsp; <i class="fa fa-solid fa-download fa-lg" (click)="userDetailService.downloadDocument(doc.name, doc.sourceId)"></i>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <button mat-raised-button style="background-color: #81b7a9; color: white;"
              [disabled]="row.status==='No info' || row.status==='Confirmed'"
              [style.background-color]="row.status==='No info' || row.status==='Confirmed' ? '#81b7a9': '#2c584a'"
              (click)="userDetailService.approveDay(row.id)">Confirm</button>
            <button style="border-color: red;" class="ms-2" mat-stroked-button color="warn"
              [disabled]="row.status==='No info'" (click)="userDetailService.removeDay(row.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator #paginator [length]="userDetailService.totalData" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons
      style="border-collapse: collapse; border-end-start-radius: 1em; border-end-end-radius: 1em; overflow: hidden;"></mat-paginator>
  </div>
</section>