.btn-green {
    background-color: #2c584a;
}

.btn-border-green {
    border-color: #2c584a;
    color: #2c584a;
}

.btn-light-green {
    background-color: #66a490;
}

.green-border {
    border-color: #582c4c;
}
